/* this website is styled for mobile first */

/* ---------images-------- */
.backImg{
  background-image: url("images/keyboardDark-min.jpg");
  background-color: rgb(8, 28, 111);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.filterDim{
  background-color: rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
}

.filterDim.welcomeOver{
  animation-name: welcome2;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

@keyframes welcome2 {
  0%{
    background-color: rgba(0, 0, 0, 0.5);
  }
  100%{
    background-color: rgba(8, 28, 111, 0.5);
  }
}

/* ---------- custom icons ---------- */

/* burger menu */
.burger{
  min-height:5px;
  margin-top: 6px;
  margin-bottom: 6px;
  width:35px;
  border-radius: 15px;
  background-color: rgb(255, 253, 219);
  display: block;
  opacity: 0;
  animation-name: menuBurger;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
/* burger icon animation */
@keyframes menuBurger{
  0%{
    opacity: 0;
  }
  80%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

/* exit icon */
.cross1{
  height: 5px;
  width: 38px;
  border-radius: 15px;
  background-color: rgb(255, 253, 219);
  transform: rotateZ(45deg) translateX(1px) translateY(3px);
  display: none;
}
.cross2{
  height: 5px;
  width: 38px;
  border-radius: 15px;
  background-color: rgb(255, 253, 219);
  transform: rotateZ(-45deg) translateX(1px) translateY(-2px);
  display: none;
}

/* toggling between burger and exit icons */
.toggleButton.clicked div.cross1{
  display: block;
  opacity: 0;
  animation-name: exit1;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
.toggleButton.clicked div.cross2{
  display: block;
  opacity: 0;
  animation-name: exit2;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

/* exit icon animations */
@keyframes exit1{
  0%{
    transform: rotateZ(45deg) translateX(1px) translateY(3px);
    opacity: 0;
  }
  80%{
    transform: scale(1.2) rotateZ(45deg) translateX(1px) translateY(3px);
  }
  100%{
      transform: scale(1) rotateZ(45deg) translateX(1px) translateY(3px);
    opacity: 1;
  }
}
@keyframes exit2{
  0%{
    transform:rotateZ(-45deg) translateX(1px) translateY(-2px);
    opacity: 0;
  }
  80%{
      transform: scale(1.2) rotateZ(-45deg) translateX(1px) translateY(-2px);
  }
  100%{
      transform: scale(1.0) rotateZ(-45deg) translateX(1px) translateY(-2px);
    opacity: 1;
  }
}

.toggleButton.clicked div.burger{
  display: none;
}
/* ---------- buttons ---------- */

#togButton{
  display: none;
}

/* menu toggle button */
.toggleButton{
  width:51px;
  height:45px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  margin: 15px 10px 15px 0px;
  border-radius: 10px;
}
.toggleButton:focus{
  background-color: rgba(255, 253, 219,.2);
  outline: none;
}

/* dropdown menu */
.menuList{
  height: 87.5vh;
  padding: 0;
  margin:0;
  margin-top:12.5vh;
  display: none;
}
ul.menuList li{
  width: 50vw;
  height: 15vh;
  margin-bottom: 15vh;
  display: block;
}
ul.menuList li:nth-child(3){
  width: 50vw;
  height: 15vh;
  margin-bottom: 12.5vh;
}

/*displaying/animating menu buttons individually */
.toggleButton.clicked + ul.menuList {
  display: block;
  perspective:1000px;
}
.toggleButton.clicked + ul.menuList li:nth-child(1){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.toggleButton.clicked + ul.menuList li:nth-child(2){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
}
.toggleButton.clicked + ul.menuList li:nth-child(3){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}
/*menu button animation */
@keyframes menu {
  0% {
    opacity:0;
    transform: scale(0.3) translateY(30px);
  }
  80% {
    transform: scale(1.2) translateY(-10px);
  }
  100% {
    opacity:1;
    transform: scale(1) translateY(0px);
  }
}

/* menu item button */
.menuButton{
  background-color: rgba(0, 0, 0, 0);
  min-width: 100%;
  min-height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color:rgb(255, 253, 219);
  color: rgb(255, 253, 219);
  border-radius: 25px;
}
.menuButton:focus{
  outline: none;
  animation-name: menuB;
  animation-duration: 50ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
/* animation for when clicking menu button */
@keyframes menuB {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.1);
    background-color: rgba(255, 253, 219,.2);
  }
}

.resumeButton{
  width:50vw;
  opacity: 0;
  margin: auto;
  margin-top: 13vh;
  height:17vh;
  animation-name: wel2;
  animation-duration: 400ms;
  animation-delay: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* ---------- fonts ---------- */
.webFont{
  font-family: 'Oswald', sans-serif;
}


/* ---------- welcome ---------- */
.welcome{
  opacity: 0;
  min-height: 30vh;
  width:100vw;
  padding-top: 35vh;
  padding-bottom: 35vh;
  animation-name: wel;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
}
.welcome h1{
  min-height: 10vh;
  margin:0;
  color: rgb(255, 253, 219);
  text-align: center;
  padding-top:10vh;
  padding-bottom:10vh;
}
@keyframes wel{
  0%{
    opacity: 0;
  }
  20%,80%{
    opacity: 1;
    height:30vh;
  }
  100%{
    opacity: 0;
    height:0vh;
  }
}
.welcome2{
  display: none;
  min-height: 30vh;
  width:100vw;
  margin-top: 35vh;
  padding-bottom: 3vh;
}
.welcome2 h1{
  min-height: 10vh;
  opacity: 0;
  margin:auto;
  color: rgb(255, 253, 219);
  text-align: center;
  font-weight: bolder;
  font-size: 400%;
  width: auto;
  background-color: rgba(255, 152, 15, 0.75);
  border-radius: 10px;
  margin-bottom: 4vh;
  animation-name: wel2;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.welcome2 h3{
  max-height: 5vh;
  opacity: 0;
  margin:0;
  color: rgb(255, 253, 219);
  text-align: center;
  padding-bottom:7vh;
  padding-top: 4vh;
  animation-name: wel2;
  animation-duration: 400ms;
  animation-delay: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes wel2{
  0%{
    opacity: 0;
  }
  80%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

/* ---------- home page ---------- */

.aboutMe{
  padding-top: 5vh;
  height: 100vh;
  background-color: rgb(255, 253, 219);
  text-align: center;

}

.aboutMe h1{
  color: rgb(8, 28, 111);
  /* color: rgb(255, 152, 15) */
}

.aboutMe p{
  text-align: justify;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 150%;
}

/* for bigger than 600 pixels aka tablets */
@media only screen and (min-width: 600px) {

}

/* for bigger than 768 pixels aka desktops */
@media only screen and (min-width: 768px){

}
